ADMIN_EMAIL=tuamail@dominio.com
ADMIN_PASSWORD=LaTuaPasswordSegreta

# AWS SES per email (su VERO AWS)
USE_SES=True
AWS_SES_REGION=eu-south-1
SES_SENDER_EMAIL=admin@supremo.com

# De-commentare per LocalStack
# AWS_ENDPOINT_URL=http://host.docker.internal:4566
# SMTP_HOST=host.docker.internal
